{% extends 'index.html' %}
{% load static %}
{% block content %}
<main id="main" data-aos="fade-in">
    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses mt-5">
        <div class="container mt-2" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Full-Stack Development</h4>
                                <p class="price"><i class="bx bx-user"></i>&nbsp;50</p>
                            </div>
                            <h3><a href="#">Mr.Cooper Tech.Inc</a></h3>
                            <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores
                                dolorem
                                tempore.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <span>Hosted by Antonio</span>
                                </div>
                                <div class="trainer-profile d-flex align-items-center">
                                    <span>31 Jan 2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

            </div>

        </div>
    </section><!-- End Courses Section -->

</main><!-- End #main -->

{% endblock content %}