{% extends 'index.html' %}
{% load static %}
{% block content %}
<main id="main" data-aos="fade-in">
    <section id="courses" class="courses mt-5">
        <div class="container mt-2" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                {% for job in jobs %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>{{job.role}}</h4>
                                <p class="price">&#8377;{{job.average_salary}} / month</p>
                            </div>
                            <h3><a href="#">{{job.company_name}}</a></h3>
                            <p>{{job.description | slice:"175"}} . . .</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <span>Mode : {{job.mode}}</span>
                                </div>
                                <div class="trainer-profile d-flex align-items-center">
                                    <span>{{job.location}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->
                {% endfor %}
            </div>

        </div>
    </section>
</main>

{% endblock content %}