{% extends 'index.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container" id="form-registration">
        <div class="card">
            <div class="back-page">
                <a href="{% url 'user-profile' %}"><i class="bi bi-reply-fill"></i></a>
            </div>
            <div class="registration-form">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label>{{field.name.capitalize}} *</label>
                    </div>
                    <div class="form-group">
                        {{field}}
                    </div>
                    {% endfor %}
                    {% if project.tags.all %}
                    <div class="form-group">
                        {% for tag in project.tags.all %}
                        <div class="project-tag tag tag--pill tag--main" data-tag="{{tag.id}}"
                            data-project="{{project.id}}">
                            {{tag}} &#215;
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label>Tags *</label>
                        <textarea class="form-control item" name="newtags" value="Add the tags here...."></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-block create-account">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}