{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- Main Section -->
<style>
    .singleProject__upper a {
        margin-right: .5rem;
    }
</style>
<main id="main" data-aos="fade-in">
    <section class="courses mt-5">
        {% if project %}
        <div class="container mt-2" data-aos="fade-up">
            <div class="row m-#">
                <div class="col-lg-4">
                    <!-- tech-stack -->
                    <h3 class="singleProject__title">Tools & Stacks</h3>
                    <div class="singleProject__toolStack">
                        {% for tag in project.tags.all %}
                        <span>
                            <h4>{{tag}}</h4>
                        </span>
                        {% endfor %}
                    </div>
                    <!-- Links -->
                    <div style="gap: .5rem;" class="singleProject__upper">
                        <h3>
                            <a href="{{project.project_link}}" target="_blank"><i
                                    class="bi bi-rocket-takeoff-fill"></i></a>
                        </h3>
                        <br />
                        <h3>
                            <a href="#" target="_blank"><i class="bi bi-github"></i></a>
                        </h3>
                        <br />
                        <h3>
                            <a href="#" target="_blank"><i class="bi bi-gear-fill"></i></a>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- Project image -->
                    <div class="singleProject__container">
                        <img class="singleProject__preview" src="{{project.media.url}}" alt="portfolio thumbnail" />
                    </div>
                    <!-- Project author link -->
                    <div class="singleProject__upper">
                        <a href="#">
                            <img class="avatar avatar--sm" src="{{project.owner.profile_picture.url}}" alt="user" />
                        </a>
                        <h3>
                            <a href="#">{{project.owner}}</a>
                        </h3>
                    </div>
                    <br />
                    <!-- Project preview section -->
                    <h2 class="singleProject__title">{{project.name}}</h2>
                    <h3 class="singleProject__subtitle">About the Project</h3>
                    <p>
                        {{project.description}}
                    </p>
                    <!-- Comments section -->
                    <div class="comments">
                        <h3 class="singleProject__subtitle">Feedback</h3>
                        <!-- Comment form -->
                        {% if request.user.profile.id in project.reviewers %}
                        <h5>Hurray! You have already commented your review for this project.</h5>
                        {% elif request.user.profile == project.owner %}
                        <h5>OOPs! You can't comment for your own project.</h5>
                        {% else %}
                        <form class="form" action="" method="POST">
                            {% csrf_token %}
                            <!-- Textarea -->
                            <div class="form-group">
                                {% for field in form %}
                                {{field}}
                                {% endfor %}
                            </div>
                            <input class="btn-enrolls" type="submit" value="Add Comment" />
                        </form>
                        {% endif %}
                        <!-- Comments List section -->
                        {% if project.review_set.all %}
                        <div class="commentList">
                            {% for review in project.review_set.all %}
                            <div class="comment">
                                <div class="profile_pic">
                                    <a href="#">
                                        <img class="avatar avatar--md" src="{{review.owner.profile_picture.url}}"
                                            alt="user" />
                                    </a>
                                </div>
                                <div class="comment__details">
                                    <p>
                                        {{review.body}}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
</main>
{% endblock content %}