{% extends 'index.html' %}
{% load static %}
{% block content %}
<style>
    .outer-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="outer-container">
    <div class="registration-form">
        {% if flag == 'register' %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-icon">
                <img src="{% static 'img/favicon-io.png' %}">
            </div>
            {% for field in form %}
            <div class="form-group">
                {{field}}
            </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Create Atrax</button>
            </div>
        </form>
        <div class="social-media">
            <h5>Already an Atrax member?</h5>
            <div class="social-icons">
                <a href="{% url 'loginUser' %}">Enter Atrax</a>
            </div>
        </div>
        {% endif %}
        <!-- Login Form -->
        {% if flag == 'login' %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-icon">
                <img src="{% static 'img/favicon-io.png' %}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Enter Atrax</button>
            </div>
        </form>
        <div class="social-media">
            <h5>Not an Atrax member?</h5>
            <div class="social-icons">
                <a href="{% url 'registerUser' %}">Register Atrax</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}